


.img-logo {
    width: 95%;
    margin-top: 2px;
}
.head-row {
    border: solid 1px black;
    width: 74%;
    height: 50px;
    margin-left: 370px;
    margin-top:20px;
}
.box1{
    height:50px;
    margin-bottom:20px;
    border:solid 1px black;
    width:10%;
    display:flex;
    float:left;
}
.search-row{
    height:700px;
    border:solid 1px black;
    margin-top:30px;
    margin-bottom:25px;
}
.search_img{
    width:100%;
    height:697px;
}
.box{
    height:500px;
    margin-bottom:20px;
    border:solid 1px black;
    display:flex;
    float:left;
}
.car_img{
    height: 250px;
    width: 359px;
}

.heading{
    margin-top:15px;
    margin-left:20px;
    font-size:20px;

}
.infomationDiv {
    border: 1px solid red;
    width: 5500px;
    height: 234px;
    position: relative;
    margin-left: -340px;
    top: 258px;
}


